* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    width: 100%;
    height: 100%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#app,
.page {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    /* 纵向滚动条*/
    height: 5px;
    /* 横向滚动条 */
}

/* 两个滚动条交接处 -- x轴和y轴 */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #ccc;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0,.8);
    border-radius: 10px;
}

.scale-slide-enter-active,
.scale-slide-leave-active {
    position: absolute;
    transition: all 1s ease;
}

.scale-slide-enter-from {
    left: -100%;
}

.scale-slide-enter-to {
    left: 0%;
}

.scale-slide-leave-from {
    transform: scale(1);
}

.scale-slide-leave-to {
    transform: scale(0.8);
}

.change-enter-active,
.change-leave-active {
    transition: all 1s ease
}

.change-enter-from,
.change-leave-to {
    transform: scale(1.2);
    opacity: 0;
}

.change-enter-to,
.change-leave-from {
    transform: scale(1);
    opacity: 1;
}

.find-enter-active,
.find-leave-active {
    transition: all 1s ease;
}

.find-enter-from,
.find-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

.find-enter-to,
.find-leave-from {
    transform: translateX(0px);
    opacity: 1;
}